/* CSS Header */
header div{
    background-image: url(../img/12.avif);
    height: 100px;
    width: 100%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
img{
    display:flex;
    
}
#nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008b8b;
    list-style: none;
    padding:5px;
}
a{
    text-decoration:none;
    color:#f28b5b;
}
/* Fin CSS Header */
/* CSS Main */

/* Fin CSS Main */
/* CSS Footer */

/* Fin CSS Footer */