/* CSS Header */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008b8b;
    list-style: none;
    padding:5px;
}
a{
    text-decoration:none;
    color:#f28b5b;
}
/* Fin CSS Header */
/* CSS Main */

/* Fin CSS Main */
/* CSS Footer */

/* Fin CSS Footer */