/* CSS Header */
header div{
    background-image: url(../img/12.avif);
    height: 100px;
    width: 100%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
img{
    display:flex;
    
}
#nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008b8b;
    list-style: none;
    padding:5px;
}
a{
    text-decoration:none;
    color:#f28b5b;
}
/* Fin CSS Header */
/* CSS Main */
main h2{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
main div{
    display: grid;
    gap: 5px;
    height: 60vh;
    justify-content: center;
    margin: 80px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "imgOne imgOne imgTwo imgTwo imgThree imgThree imgThree imgFour imgFive imgFive "
    "imgOne imgOne imgTwo imgTwo imgThree imgThree imgThree imgFour imgFive imgFive"
    "imgSix imgSix imgTwo imgTwo imgSeven imgSeven imgEight imgEight imgFive imgFive"
    "imgSix imgSix imgNine imgNine imgNine imgNine imgEight imgEight imgTen imgTen"
    "imgSix imgSix imgNine imgNine imgNine imgNine imgEight imgEight imgTen imgTen"; 
}
main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main img:nth-child(1){
    grid-area: imgOne;
}
main img:nth-child(2){
    grid-area: imgTwo;
}
main img:nth-child(3){
    grid-area: imgThree;
}
main img:nth-child(4){
    grid-area: imgFour;   
}
main img:nth-child(5){
    grid-area: imgFive;   
}
main img:nth-child(6){
    grid-area: imgSix;   
}
main img:nth-child(9){
    grid-area: imgSeven; 
}
main img:nth-child(8){
    grid-area: imgEight;
}
main img:nth-child(7){
    grid-area: imgNine; 
}
main img:nth-child(10){
    grid-area: imgTen;
}

/* Fin CSS Main */
/* CSS Footer */
/* intérieur footer disposition */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer ul li{
    list-style: none;
}
.contact ul{
    display: flex;
    flex-direction: column;
    
}
.picto ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* dimension image */
.picto img{
    width: 60px;
    height: auto;
}
.insta img{
    width: 80px;
}
.pinterest img{
    width: 90px;
}
.youtube img{
    width: 120px;
    left: 1200px;
}
/* p center */
footer p{
    display: flex;
    justify-content: center;
}
/* Fin CSS Footer */